@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.title-container {
    width: 100%;
    background-color: rgb(190, 190, 190);
    border-bottom: 2px solid rgb(180, 180, 180);
    height: 20px;
    text-align: center;
}

.title {
    margin: 0;
    padding: 0;
    color: rgb(108, 108, 108);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    user-select: none;
}